/* #box{
    width:100px;
    height:100px;
    border:1px solid black;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body{
    background-color:#CEE0DC;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
h1{
    color:#A5243D;
 }
.box{
    width:18vmin;
    height:18vmin;
    border:none;
    background-color:#AFAAB9;
    box-shadow:0 0 1rem rgba(0,0,0,0.1);
    border-radius: 1rem;
    font-size: 10vmin;
    color:#A5243D;
    cursor:pointer;
}
.reset,.newBtn{
    background-color: #b9a1a9;
    color:#A5243D;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 4vmin;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.reset:hover,.newBtn:hover{
    background-color:#bda2aa ;
}
#msg{
    color:#A5243D;
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    justify-content: center;
}
.hide{
    display: none;
}
.red{
    color: #9E6240;
}
.orange{
    color: #CD4631;
}
.box:hover,.box:focus,.box:visited{
    background-color:#b5b3b8;
}